/* Genel stiller */
body {
    font-family: "PT Serif", bold;
    margin: 0;
    padding: 0;

}


header {
    background-color: #ffffff;
    color: #a8a8a8;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
#about {
    padding: 20px;
    text-align: center;
    color: #000000; /* Yazı rengi */
    background-color: #f9f9f9; /* Arka plan rengi */
    border-radius: 10px; /* Kenar yarıçapı */
    margin: 20px auto; /* Orta hizalama ve dış kenar boşluğu */
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Gölge efekti */
}

#about h2 {
    color: #333333; /* Başlık rengi */
}

#contact {
    padding: 20px;
    text-align: center;
    color: #000000; /* Yazı rengi */
    background-color: #f9f9f9; /* Arka plan rengi */
    border-radius: 10px; /* Kenar yarıçapı */
    margin: 20px auto; /* Orta hizalama ve dış kenar boşluğu */
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Gölge efekti */
}

#contact h2 {
    color: #333333; /* Başlık rengi */
}
/* Genel stiller */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: #a8a8a8;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    position: relative; /* Alt menüyü göstermek için ana menüye göre konumlandırma */
}

nav ul li a {
    color: #333; /* Ana menü link rengi */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.submenu {
    display: none; /* Başlangıçta alt menü gizli olsun */
    position: absolute;
    background-color: #ffffff; /* Arka plan rengi */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Gölge */
    z-index: 1; /* Üstte gözüksün */
    padding: 10px 0; /* Dolgu */
    left: 0; /* Sol kenara hizala */
    top: 100%; /* Ana menü öğesinin altına hizala */
    width: 150px; /* Alt menü genişliği */
    border-radius: 10px; /* Köşe yarıçapı */
}


/* Ana menü öğesine fare geldiğinde alt menüyü göster */
nav ul li:hover .submenu {
    display: block;
}

/* Alt menü öğelerinin stilleri */
.submenu li {
    white-space: nowrap; /* Metni bir satıra sığdır */
}

.submenu li a {
    display: block; /* Alt menü öğelerini blok olarak ayarla */
    color: #333; /* Alt menü link rengi */
    text-decoration: none;
    padding: 5px 10px; /* Dolgu */
}

.submenu li a:hover {
    background-color: #ccc; /* Alt menü üzerine gelindiğinde arka plan rengi */
}

#about img {
    max-width: 50%; /* Resmin en fazla genişliği ekran genişliği kadar olacak */
    height: auto; /* Otomatik yükseklik ayarı, oranı koruyacak şekilde ayarlar */
}
#contact img {
    max-width: 50%; /* Resmin en fazla genişliği ekran genişliği kadar olacak */
    height: auto; /* Otomatik yükseklik ayarı, oranı koruyacak şekilde ayarlar */
}
/* Yeni eklenen CSS stilleri */
/* Yeni eklenen CSS stilleri */

#countdown-container {
    background-color: #f9f9f9; /* Kutucuğun arka plan rengi */
    border-radius: 10px; /* Kutucuğun kenar yarıçapı */
    margin: 20px auto; /* Orta hizalama ve dış kenar boşluğu */

    padding: 20px; /* Kutucuğun iç boşluğu */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Gölge efekti */
}

#countdown {
    display: flex;
    justify-content: center;
}

.countdown-item {
    margin: 0 10px;
    text-align: center;
}

.countdown-value {
    width: 70px; /* Dairelerin genişliği */
    height: 70px; /* Dairelerin yüksekliği */
    border-radius: 50%; /* Dairelerin kenar yarıçapı */
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 24px; /* Dairelerdeki metin boyutu */
}

.countdown-label {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}

.countdown-title {
    text-align: center; /* Metni ortala */
    font-size: 28px; /* Metin boyutu */
    font-weight: bold; /* Kalın font */
    margin-bottom: 20px; /* Metin ile altındaki kutucuk arasındaki boşluk */
}

#logo-text {
    font-family: Arial, sans-serif; /* Yeni font ailesi */
    font-weight: bold; /* Kalınlık */
    font-size: 30px; /* Yazı boyutu */
    /* Diğer stil özellikleri buraya eklenebilir */
    color:#000000;
}
#registration {
    padding: 20px;
    text-align: center;
    color: #000000; /* Yazı rengi */
    background-color: #f9f9f9; /* Arka plan rengi */
    border-radius: 10px; /* Kenar yarıçapı */
    margin: 20px auto; /* Orta hizalama ve dış kenar boşluğu */
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Gölge efekti */
}

#school-image {
    padding: 20px;
    text-align: center;
    color: #000000; /* Yazı rengi */
    background-color: #f9f9f9; /* Arka plan rengi */
    border-radius: 10px; /* Kenar yarıçapı */
    margin: 20px auto; /* Orta hizalama ve dış kenar boşluğu */
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Gölge efekti */
}

/* Genel stiller */

#school-image img {
    max-width: 70%; /* Resmin en fazla genişliği ekran genişliği kadar olacak */
    height: auto; /* Otomatik yükseklik ayarı, oranı koruyacak şekilde ayarlar */
}

#ataturk-biyografi {
    padding: 20px;
    text-align:justify;
    color: #000000; /* Yazı rengi */
    background-color: #f9f9f9; /* Arka plan rengi */
    border-radius: 10px; /* Kenar yarıçapı */
    margin: 20px auto; /* Orta hizalama ve dış kenar boşluğu */
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Gölge efekti */
}

#ataturk-biyografi h2 {
    text-align:center;
    color: #333333; /* Başlık rengi */
}